.postsContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;

  .post {
    cursor: pointer;

    h1 {
      color: var(--white-100);
      padding-bottom: .5rem;
      transition: color .2s;
    }

    &:hover {
      h1 {
        color: var(--pink);
      }

      span,
      time {
        filter: brightness(0.8);
      }
    }

    >span {
      color: var(--white-200);
    }

    .postFooter {
      padding-top: 1rem;
      color: var(--white-300);

      span {
        svg {
          margin-right: 0.5rem;
        }

        &+span {
          padding-left: 1rem;
        }
      }
    }

    &+.post {
      padding-top: 2rem;
    }
  }

  .loadPosts {
    padding: 3rem 0;
    color: var(--pink);

    >span {
      transition: filter .2s;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .preview {
    border-radius: 4px;
    width: 100%;
    height: 3rem;
    font-weight: 600;
    transition: filter .2s;
    border-style: none;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
