.banner {
  height: 400px;
  width: 100%;
}

.postContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 4rem 2rem 0 2rem;

  h1 {
    color: var(--white-100);
    font-size: 3rem;
  }

  .postDetails {
    padding-top: 1rem;
    color: var(--white-300);
    font-size: .875rem;

    span {
      svg {
        margin-right: 0.5rem;
      }

      &+span {
        padding-left: 1rem;
      }
    }
  }

  .editedInfo {
    padding-top: 1rem;
    font-style: italic;
    font-size: 0.875rem;
    color: var(--white-300);
  }

  .postContent {
    padding-bottom: 2rem;

    h2 {
      color: var(--white-100);
      font-size: 2.25rem;
      padding: 2rem 0;
      text-align: justify;
    }

    p {
      padding-top: 1rem;
      color: var(--white-200);
      font-size: 1.125rem;
      line-height: 1.8rem;
      text-align: justify;

      &+p {
        margin-top: 1rem;
      }
    }
  }
}

.postFooter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  div {
    display: flex;
    flex-direction: column;

    span {
      color: var(--white-100);
      font-size: 1.125rem;
    }

    a {
      color: var(--pink);
      font-weight: 600;
      padding-top: .3rem;
      transition: filter .2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    &+div {
      text-align: right;
    }
  }
}
