.headerContainer {
  max-width: 1120px;
  padding: 0rem 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  margin: 0 auto;

  img {
    height: 25px;
    cursor: pointer;

    transition: filter .2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
